.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(260deg, #2376aecb 0%, #c06ecfaf 100%);
    text-align: center;
    margin-top: 0px;
  }